@import "../base/mixins.scss";

.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  @include margins-desktop;

  .title-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  h2 {
    color: $color-secondary;
    @include font-banner;
  }

  @media (max-width: 1281px) {
    @include margins-tablet;
  }

  @media (max-width: 767.98px) {
    @include margins-mobile;
  }
}
