@import "../base/mixins.scss";

.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  @include margins-desktop;

  h2 {
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 2;
    color: $color-secondary;
    @include font-banner;

    @media (max-width: 1281px) {
      top: 40%;
      left: 20%;
    }

    @media (max-width: 767.98px) {
      top: 40%;
      left: 15%;
    }
  }

  @media (max-width: 1281px) {
    @include margins-tablet;
  }

  @media (max-width: 767.98px) {
    @include margins-mobile;
  }
}
