@import "../../style/base/mixins.scss";

.collapsible {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include margins-desktop;
  @media (max-width: 1281px) {
    @include margins-tablet;
  }
  @media (max-width: 767.98px) {
    flex-direction: column;
    @include margins-mobile;
  }
}
