@import "../base/mixins.scss";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 160px;
  background-color: $color-main;
  position: relative;
  bottom: 0;
  z-index: 10;

  p {
    @include font-montserrat;
    color: $color-secondary;
  }
  > img {
    max-width: 122px;
    margin-bottom: 30px;
  }
  @media (max-width: 767.98px) {
    padding: 20px;
    word-wrap: break-word;
  }
}
