@import "../../style/base/variables.scss";
@import "../../style/base/mixins.scss";

.tags {
  margin: 10px 100px;
  @media (max-width: 1281px) {
    @include margins-tablet;
  }
  @media (max-width: 767.98px) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @include margins-mobile;
  }
}
.tag {
  background-color: $color-highlight;
  padding: 7px 12px;
  margin-right: 10px;
  border-radius: 15px;
  font-family: Montserrat;
  font-weight: bold;
  color: $color-secondary;
  @media (max-width: 767.98px) {
  }
}
