@import "../../style/base/mixins.scss";

.title {
  margin-bottom: 20px;
  color: $color-highlight;
  @include font-banner;

  @include margins-desktop;

  @media (max-width: 1281px) {
    @include margins-tablet;
  }

  @media (max-width: 767.98px) {
    font-size: 24px;
    @include margins-mobile;
  }
}
