@mixin margins-desktop {
  margin: 30px 50px;
  padding: 0;
}

@mixin font-montserrat {
  font-family: "Montserrat", sans-serif;
  //   font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  @media (max-width: 767.98px) {
    font-size: 16px;
    font-weight: 400;
  }
}
