@import "./variables.scss";

@mixin margins-desktop {
  margin: 40px 100px;
  padding: 0; // Moved above the nested rule

  @media (max-width: 767.98px) {
    font-size: 14px;
    font-weight: 500;
  }
}

@mixin margins-tablet {
  margin: 20px 80px;
  padding: 0;
}

@mixin margins-mobile {
  margin-left: 20px;
  margin-right: 20px;
}

@mixin font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;

  @media (max-width: 1281px) {
    font-size: 20px;
    font-weight: 500;
  }

  @media (max-width: 767.98px) {
    font-size: 16px;
    font-weight: 400;
  }
}

@mixin font-banner {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 48px;

  @media (max-width: 1281px) {
    font-size: 26px;
    font-weight: 700;
  }

  @media (max-width: 767.98px) {
    font-size: 14px;
    font-weight: 500;
  }
}
