.main-logement {
  display: flex;
  flex-direction: column;
}

.logement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 767.98px) {
    flex-direction: column;
  }
}

.logement-right {
  display: flex;
  flex-direction: column;
  @media (max-width: 767.98px) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
